.punchySlide, .punchySlideForwards, .punchySlideBackwards, .punchySlideJump {
  background-image: gradient(
    linear, left top, left bottom,
    from( #cddced ),
    to( #ffffff )
  );
  animation: fadeOut 200ms ease-in;
}

.punchyTransparent {
  background-color: transparent;
}

.punchySlideBackwards {
  animation: flyInLeft 300ms linear, fadeOut 200ms ease-in;
}

.punchySlideForwards {
  animation: flyInRight 300ms linear, fadeOut 200ms ease-in;
}

.punchySlideJump {
  animation: fadeIn 200ms ease-out, fadeOut 200ms ease-in;
}

.punchyHeader {
  background-color: rgb( 230, 237, 245 );
}

.punchyTitle {
  font: 40px Arial;
}

.punchyFooter {
  background-color: rgb( 0, 62, 135 );
  color: white;
}

.punchyList, .punchyText, .punchyImage {
  background-color: transparent;
  font: 32px Arial;
}

.punchyBig {
  background-color: transparent;
  font: 62px Arial;
}

.punchyLeftSideBar {
  animation: flyInLeft 200ms ease-out, flyOutLeft 200ms ease-out;
}

ProgressBar.punchyProgressAhead,
ProgressBar.punchyProgressOK,
ProgressBar.punchyProgressBad,
ProgressBar.punchyProgressWarn {
  background-color: transparent;
  background-image: none;
  border: 1px solid #bdbdbd;
}

ProgressBar-Indicator.punchyProgressAhead {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ADD2FF ),
    to( #8AA9CF )
  );
  opacity: 0.5;
}

ProgressBar-Indicator.punchyProgressOK {
  background-image: gradient(
    linear, left top, left bottom,
    from( #7DF0A7 ),
    to( #8ACFA3 )
  );
  opacity: 0.5;
}

ProgressBar-Indicator.punchyProgressWarn {
  background-image: gradient(
    linear, left top, left bottom,
    from( #F5BA6E ),
    to( #DECAA4 )
  );
  opacity: 0.5;
}

ProgressBar-Indicator.punchyProgressBad {
  background-image: gradient(
    linear, left top, left bottom,
    from( #E85A33 ),
    to( #DE9E8C )
  );
  opacity: 0.8;
}
