<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="RAP Target" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.core" version="1.3.0.v201303031735-unsigned"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.mockito.mockito-all" version="1.9.5"/>
<repository location="http://build.eclipse.org/rt/rap/base-platforms/2.2/extra-dependencies/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="2.2.0.20131127-1035"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.2.0.20131110-1237"/>
<repository location="http://download.eclipse.org/rt/rap/2.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.richtext.feature.feature.group" version="0.1.0.20131108-1622"/>
<unit id="org.eclipse.rap.nebula-grid.feature.feature.group" version="0.1.0.20131111-1512"/>
<unit id="org.eclipse.rap.dropdown.feature.feature.group" version="0.2.0.20131030-1000"/>
<unit id="org.eclipse.rap.fileupload.feature.feature.group" version="2.2.0.20131008-0901"/>
<repository location="http://download.eclipse.org/rt/rap/incubator/nightly/"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
